@font-face {
  font-family: "iconfont"; /* Project id 2262577 */
  src: url('//at.alicdn.com/t/font_2262577_eyjn2x1b3ic.woff2?t=1624778224313') format('woff2'),
       url('//at.alicdn.com/t/font_2262577_eyjn2x1b3ic.woff?t=1624778224313') format('woff'),
       url('//at.alicdn.com/t/font_2262577_eyjn2x1b3ic.ttf?t=1624778224313') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
  content: "\e609";
}

.icon-minus-circle:before {
  content: "\eb41";
}

.icon-youjiantou:before {
  content: "\e62b";
}

.icon-tuiguang:before {
  content: "\e605";
}

.icon-bangzhuzhongxin:before {
  content: "\e606";
}

.icon-xiaoxi:before {
  content: "\e6f5";
}

.icon-xiaoxi1:before {
  content: "\e62c";
}

.icon-daijinquan:before {
  content: "\e7e3";
}

.icon-daizhifu:before {
  content: "\e709";
}

.icon-shouhou:before {
  content: "\e67b";
}

.icon-yizhifu:before {
  content: "\e641";
}

.icon-yiwancheng:before {
  content: "\e64d";
}

.icon-rising:before {
  content: "\e703";
}

.icon-1:before {
  content: "\e635";
}

.icon-sousuo:before {
  content: "\e602";
}
